name: Monitor Metrics

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  monitor:
    continue-on-error: true
    strategy:
      matrix:
        include:
          - product: RSBUILD
          - product: RSPRESS
          - product: RSLIB
          - product: MODERNJS_FRAMEWORK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.18.0
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Pnpm
        run: npm install -g corepack@latest && corepack enable && pnpm -v && pnpm store path

      - name: Install Dependencies
        run: pnpm run install:scripts

      - name: Build Scripts
        run: cd scripts && pnpm run build

      - name: Monitor Metrics
        id: monitor
        run: |
          result=$(cd scripts && MONITOR=1 node ./dist/compare.js ${{ matrix.product }})
          echo "$result"
          echo "diff-result=${result//$'\n'/'@@'}" >> $GITHUB_OUTPUT
          if [[ $result =~ "Threshold exceeded" ]]; then
            echo "Some benchmark metrics exceed the threshold, please visit the previous step for more information"
            exit 1
          fi
